[project]
[access "refs/heads/*"]
	pushMerge = group ZTE Maintainers
	forgeAuthor = group ZTE Maintainers
	push = group ZTE Maintainers
	label-Code-Review = -2..+2 group ZTE Maintainers
	label-Verified = -1..+1 group ZTE Maintainers
	submit = group ZTE Maintainers
[submit]
	action = rebase if necessary
